@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;

    position: relative;
}

#formulario{
    background-color: #F580EA;
    width: 350px;
    height: 531.5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.353);

    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px rgba(189, 189, 189, 0.39);
}

form{
    margin: auto;
    padding: 10px;
}

input{
    display: block;
    background-color: transparent;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    width: 80%;
    text-indent: 10px;
}


#avancar{
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    width: 50%;
    height: 35px;
    color: #F580EA;
    background-color: white;
}

#avancar:hover{
    transform: scale(1.05);
    transition: .5s;
}

#tenho-conta{
    height: 220px;
    background-color: #09935D;
    margin-top: 52px;
    border-radius: 0px 0px 10px 10px;
    
}

.juntar{
    background-color: rgba(127, 255, 212, 0.215);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0px;
}

span{
    color: rgba(0, 0, 0, 0.363);
    border-right: 1px solid rgba(0, 0, 0, 0.358);
    padding: 5px;
    cursor: pointer;
}

h2{
    color: white;
    text-align: center;
    padding: 20px;
}

a{
    display: block;
    color: #F580EA;
    text-decoration: none;
    font-weight: 600;
    background-color: white;
    padding: 10px;
    margin: 25px auto;
    border-radius: 10px;
    width: 50%;
    height: 35px;
    text-align: center;  
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.126); 
}

a:hover{
    transition: .5s;
    transform: scale(1.05);
}