@charset "UTF-8";

@media screen and (min-width: 768px) {

    #formulario{
        width: 80%;
    }

    h1{
        margin: 40px 0px 10px 0px;

    }

    #mover{
        float: left;
        width: 50%;
    }

    

    #tenho-conta{
        float: right;
        width: 50%;
        margin-top: 0px;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
    }

    h2{
        margin-top: 185px;
    }

    #login{
        height: 100%;
    }

    .juntar{
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 1200px) {

    #formulario{
        width: 70%;
       
    }

    #mover{
        float: right;
        margin-right: 100px;
    }

    input{
        width: 100%;
    }



    #tenho-conta{
        border-radius: 10px 0px 0px 10px;
        width: 30%;
        float: left;

    }
    
}