@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: all .5s ease;
}

main{
    width: 100vw;
    height: 100vh;

    background: white;
    background-size: cover;

    position: relative;
}

#div-form{
    background-color: #09935D;
    width: 80%;
    height: 531.5px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.434);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
}

.email-senha{
    padding: 10px 10px;
    
}

.input-login{
    border: 0px;
    width: 80%;
    height: 40px;
    text-indent: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.misturas{
    display: flex;
    background-color: #f7bff19d;
    border-radius: 10px;
    align-items: center;
}

span{
    color: rgba(0, 0, 0, 0.363);
    border-right: 1px solid rgba(0, 0, 0, 0.358);
    padding: 5px;
    cursor: pointer;
}


a{
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 100;
}

a:hover{
    text-decoration: underline;
}

#entrar{
    display: block;
    width: 50%;
    height: 30px;
    color:#F580EA;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    margin: 30px 0px 0px 85px;
    

    border: 0px;
    border-radius: 10px;
}

#entrar:hover{
    background-color: white;
    color: #F580EA;
    transform: scale(1.05);
}

#senha{
    float: left;
    height: 30px;
    display: block;
    font-size:small;
    text-indent: 10px;
    color: white;
}

.esquerda-direita{
    margin: 10px 0px;
    display: block;
    height: 50px;
    padding: 10px;
}

#novo{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #F580EA;
    margin-top: 40px;
    border-radius: 0px 0px 10px 10px;
}

h2{
    text-align: center;
    color: white;
    margin: 50px 0px 10px 0px;
}

#criar-conta{
    display: block;
    margin: 45px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: #F580EA;
    font-weight: 600;
    text-decoration: none;
    width: 50%;
    height: 35px;
    border-radius: 10px;

}

#criar-conta:hover{
    transform: scale(1.05);

}



